.container {
    /*border: solid;
    border-color: black;*/
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.miniContainer {
    /*border: solid;
    border-color: blue;*/
    display: flex;
    flex: 1 1 0;
}

.pixel {
    border: solid;
    border-color: red;
    background-color: white;
    flex: 1 1 0;
}