@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.error {
    font-family: Roboto, serif;
}

.miniContainer {
    display: flex;
    flex: 1 1 0;
}

.pixel {
    background-color: black;
    flex: 1 1 0;
}

.zeroPercent {
    opacity: 0;
}

.tenPercent {
    opacity: 0.1;
}

.twentyPercent {
    opacity: 0.2;
}

.thirtyPercent {
    opacity: 0.3;
}

.fortyPercent {
    opacity: 0.4;
}

.fiftyPercent {
    opacity: 0.5;
}

.sixtyPercent {
    opacity: 0.6;
}

.seventyPercent {
    opacity: 0.7;
}

.eightyPercent {
    opacity: 0.8;
}

.ninetyPercent {
    opacity: 0.9;
}

.hundredPercent {
    opacity: 1;
}